body {
    position: relative;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: larger;
    background: linear-gradient(60deg, rgb(33, 133, 94) 0%, rgb(226, 119, 137) 50%, rgb(97, 185, 236) 70%,  rgb(189, 75, 170) 90%);
    animation: gradient 30s ease infinite;
    background-size: 200% 200%; /* 调整背景尺寸，使其更大 */
    /* overflow: hidden; */
}

@keyframes gradient {
    0% {
        background-position: 0 15%;
    }

    25% {
        background-position: 100% 15%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 15%;
    }
}