<!DOCTYPE html>
<html>

<head>
    <title>Xuebao's blog</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/blog.css">
    <link rel="stylesheet" href="../static/hover-min.css">
</head>

<body>
    <nav class="top-nav">
        <ol class="nav-partition">
            first
        </ol>
        <ol class="nav-partition">
            first
        </ol>
        <ol class="nav-partition">
            first
        </ol>
        <ol class="nav-partition">
            first
        </ol>
    </nav>
    <span class="main-container">
        <span class="blog-container" id="blog-container-1">
            <span class="place-holder"></span>
            <span class="blog-piece hvr-grow-shadow">
                <span class="blog-title">标题</span>
                <span class="blog-content">
                    <span class="blog-cover-text">我是正文</span>
                    <span class="blog-cover-img"></span>
                </span>
            </span>
        </span>
        <!-- <span class="sidebar"></span> -->
    </span>
    <span class="sidebar"> 
        <span class="user-area">
            <span class="user-head">
                <span class="user-avatar"></span>
                <div id="username"></div>
            </span>
        </span>
    </span>
    <script src="../js/blog.js"></script>

</body>

</html>